<div class='row'>
  <div class='col-xs-4'>
    <div class='form-group'>
      <%= form_for @search, url: {:controller => :food_facility, :action => :index} do |f| %>

        <%= f.label :food do %>
          Input Foods:
        <% end %>
        <%= f.text_field :food, class: 'form-control' %>

        <br>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>