<div class='row'>
  <div class='col-xs-6'>
    <div class='form-group'>
      <%= content_field.label :address, 'Address' %>
      <%= content_field.text_field :address, class: 'form-control' %>
    </div>
  </div>
</div>