
<div id="app" class="row well">
  <div class="col-md-6">

    <%= form_tag(
        '/food_facilities',
        :id => 'map-form'
      ) do %>
      <div class="form-group">
        <%= text_field_tag('food', nil, :class => 'form-control', :placeholder => 'Food...') %>
      </div>
      <button type="submit" class="btn btn-primary">Find Food Trucks, I'm Hungry!</button>
    <% end %>

    <br>

    <h2>
      Food Trucks:
    </h2>

    <ul class="list-group">
      <% @food_facilities.each do |food_facility| %>
        <pre>
          <%= "#{food_facility["applicant"]} on #{food_facility["address"]}" %>
        </pre>
      <% end %>
    </ul>

  </div>

  <div id="map-wrap" class="col-md-6">
      <div id="map"></div>
  </div>
</div>