
<div id="app" class="row well">
  <div class="col-xs-3 col-xs-offset-1">

    <%= form_tag(
        '/food_facilities',
        :id => 'map-form'
      ) do %>
      <div class="form-group">
        <%= text_field_tag(:food, nil, :class => 'form-control', :placeholder => 'Food...') %>
      </div>
      <button type="submit" class="btn btn-primary">Find Food Trucks, I'm Hungry!</button>
    <% end %>

    <br>

    <h2>
      Food Trucks:
    </h2>

    <div id="results-box">
      <ul class="list-group">
        <% @food_facilities.each do |food_facility| %>
          <pre>
            <%= "#{food_facility["applicant"]} on #{food_facility["address"]}" %>
          </pre>
        <% end %>
      </ul>
    </div>

  </div>

  <div id="map-wrap" class="col-xs-7">
      <div id="map"></div>
  </div>
</div>