<div id="app" class="row">
  <div class="col-xs-3 col-xs-offset-1">

    <div class="well">

      <%= form_tag(
          '/food_facilities',
          :id => 'map-form'
        ) do %>
        <div class="form-group">
          <%= text_field_tag('q', nil, :class => 'form-control', :placeholder => 'Search By Street or Food Type...') %>
        </div>
        <button type="submit" class="btn btn-primary">Find Food Trucks, I'm Hungry!</button>
      <% end %>

      <br>

      <div id="results">
        <h2>
          Food Trucks:
        </h2>
        <p id="result-list">No results yet</p>
      </div>
    </div>

  </div>

  <div id="map-wrap" class="col-xs-6 col-xs-offset-1">
      <div id="map"></div>
  </div>
</div>

<script>
  $('#map-form').submit(function(e) {
    e.preventDefault();
    $.ajax({
      url: '/food_facilities',
      type: 'POST',
      data: {
        utf8: $('#map-form input[name="utf8"]').val(),
        authenticity_token: $('#map-form input[name="authenticity_token"]').val(),
        q: $('#q').val()
      },
      dataType: 'json',
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR, textStatus, errorThrown);
      },
      complete: function(jqXHR, textStatus) {
        // console.log(jqXHR, textStatus);
      },
      success: function(data, textStatus, jqXHR) {
        $('#result-list').remove();
        $('#results').append($(new ResultList(data).toString()));
        initMap(data);
        // console.log(data, textStatus, jqXHR);
      }
    });
  });
</script>