// Place all the styles related to the FoodFacilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body,
#map-wrap {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
#map-wrap,
#form-wrap {
  height: 100%;
}

#map-wrap {
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#results-box {
  height: 650px;
  overflow: auto;
}